<% messages.each do |message| %>
  <% unless @message.id.nil? %>
    <p><%= link_to "#{message.user.nickname}さん" %></p>
    <p>コメント：<%= message.content %></p>
    <% if message.user == current_user %>
      <p><%= link_to 'コメントを削除する', tweet_message_path(tweet:id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>




 <p><%#= link_to "#{message.user.nickname}さん", user_path(comment.user.id) %></p>