<div class="contents row">
  <div class="container">
        <h1>投稿ページ</h1>
         <%= form_with model: @tweet, url: tweet_index_path, method: :post do |t| %>
          <%= t.text_area :text, id: "text" %>
          <%= t.submit "SEND" %>
        <%= link_to("戻る", tweet_index_path, class: "btn") %>
      </div>
      </div>
<% end %>