<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Work-out</title>
    <link rel="stylesheet" href="css/style.c">
    <link rel="stylesheet" href="application.css">
    <link rel="icon" type="image/png" href="images/icon_139421_64.png">
  </head>

  <body>
    <div class="example">
    <div class= "top"><p>WORKOUT</p></div>
    <li><%= link_to 'ログイン', new_user_session_path, class: "topbtn" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "topsign" %>
      <div id="mainvisual">
        <%= image_tag "photo-1476480862126-209bfaa8edc8.jpeg", class:"main" %>
      </div>

      <div class="toretore">
        <div class="torememo"><h6>とれメモ</h6></div></div>

        <li> <%= link_to 'ゲストログイン', application_guest_sign_in_path, method: :post, class: "testgest" %></li>
    <div class="container">
      <main>
          <section id="concept" class="content">
          <div class="img">
          </section>
      </main>
        <div class="logos">&copy;shos3.workout</div>
        </div>
      </div>
    </div>
  </body>
</html>