@charset "UTF-8";


html {
  font-size: 100%;
  background-color: #656e64 ;
}
body {
  color:black;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
a {
  color:black;
  text-decoration: none;
}

.main{
  width: 100%;
}

/* mainとfooterのコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}
.site-title {
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}
.site-title a {
  display: block;
}
.section-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 4px;
}

.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}


main {
  width: 90vw;
  margin: 4% auto 0 auto;
}



#header {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto 30px auto;
}
#header ul {
  display: flex;
}
#header li {
  font-size: 0.875rem;
  margin-right: 30px;
}

#header li:last-child {
  margin-right: 0;
}


.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.content .img {
  width: 50%;
}
.content .text {
  width: 50%;
  padding: 0 7%;
}


#footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 20px 0;
}
#footer .logo {
  width: 110px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 1.25rem;
  }

  

  #mainvisual {
    width: 100%;
    margin: 0;
  }
  
  #mainvisual img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  
  #header {
    width: 100%;
    padding: 20px 18px;
  }

  
  #work {
    flex-direction: column-reverse;
  }
  .content {
    flex-direction: column;
  }
  .content .img {
    width: 100%;
    margin-bottom: 10px;
  }
  .content .text {
    width: 100%;
    padding: 0;
  }
}

.btn {
  position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background:goldenrod;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}




.sign-up{
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background:goldenrod;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }




.top{
  color: #79BA72;
  text-align: center;
  font-size: 30px;
}

li{
  list-style: none;
}


.day.wday-6.past.current-month{
  background-color: rgb(118, 230, 245);
}

.day.wday-6.past.prev-month{
  background-color: rgb(118, 230, 245);
}

.day.wday-6.future.current-month{
  background-color: rgb(118, 230, 245); 
}

.day.wday-6.future.next-month{
  background-color:rgb(118, 230, 245);  
}

.day.wday-0.past.current-month{
background-color: rgb(243, 178, 158);
}

.day.wday-0.past.current-month{
  background-color: rgb(243, 178, 158);
}

.day.wday-0.future.current-month{
  background-color: rgb(243, 178, 158);
}

.day.wday-0.future.next-month{
  background-color: rgb(243, 178, 158);
}

